<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
    <script src="/static/jslib/axios.min.js"></script>
    <!-- import text editor -->
    <script src="/static/jslib/quill/quill.js"></script>
    <!-- quill modules -->
    <link href="/static/jslib/quill/quill.bubble.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/style/postview.css">

    <!-- icons -->
    <link rel="stylesheet" href="/static/icons/materialicons.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADFwAAAxcBwpsE1QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD4SURBVGiB7dUxSsRAFMbx/1s2EOwFrfYQuYitNh5BCyuRrRavIewFPEaqHMJKFg8QEpBnk7DNNjqReY7fr0uT9z6GbwZERCQDA2ia5gx4Bq6AzZIDuq6bZ/iS/wXezOy1qqrHtm37NYC778zsbuFBv23j7vfjOH4CDysAM7vOvFSKG4DV9HGRcZFUl3AM8ucpSDTrXIPna/knTl3lOpFUSz+QxZxIMUFU9mhU9miKCaKyR6OyR1NMEJU9GpU9mmKCqOzRqOzRKEg0c5BD1i3SvMMUxMz2eXdJsofp1ur7/qmuawNugfOcW33Dh7u/DMOwzb2IiMg/9gXkEkMSlB9b8QAAAABJRU5ErkJggg==">
            </a>

        </div>
        <div class="about">
            <a href="/about" target="_new">About</a>
        </div>
    </header>
    <div class="post-wrapper" lang="ps" dir="rtl">
        <div class="title">Title</div>
        <p class="brief"></p>
        <p class="post-meta">
            <p dir="ltr">
                By: <span class="author"></span>
            </p>
        </p>
        <div class="hero_image_wrapper">
            <img id="hero_image">
            </img>
        </div>
        <div id="post"></div>
    </div>
    <footer>

    </footer>
</body>
<script>
    const select = (el) => document.querySelector(el);

    // post view
    let options = {
        readOnly: true,
        modules: {
            toolbar: true
        },
        theme: 'bubble'
    };
    let quill = new Quill('#post', options);
    // by defualt right to left
    // select(".ql-direction").click();

    // get post id from url
    let pid = window.location.pathname.match(/id=(.*)$/i)[1];
    axios.get('/api/blog/post/' + pid).then(res => {
        dataLoaded(res.data);
    });

    function dataLoaded(data) {

        // if data is null redirect to root
        if(!data)window.location = '/';

        quill.setContents(JSON.parse(data.body));
        console.log(data);
        select('title').text = data.title;
        select('.title').innerHTML = data.title;
        select('.brief').innerHTML = data.brief;
        select('.author').innerHTML = data.author;

        // imgage dimention
        let idim = '/' + select("#hero_image").parentElement.clientWidth + 'x400';
        // if url in data is undefiend it will get a random pic from unsplash
        let iurl = data.hero_image || 'https://source.unsplash.com/random';
        select('#hero_image').src = iurl + idim;
        console.log(iurl)
    }
</script>

</html>