@import './com.css';

/* Z-indexs */
/* 
    search result = 500
    search result overlay = 490



*/

div:focus {
    border: 2px solid #95e1d3 !important;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    height: 65px;
    position: relative;
    background-color: #fff;
    /* position: sticky;
    top: 0; */
}

header nav {
    margin-left: auto;
    display: flex;
}

header nav a {
    display: inline-block;
    color: #2188ff;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #2188ff;
    cursor: pointer;
}

.login:hover>a {
    color: rgba(33, 137, 255, 0.769);
}

.blog>a {
    color: #2188ff;
    padding: 5px 15px;
    border: 1px solid #2188ff;
    border-radius: 4px;
}

.logo {
    display: inline-flex;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
}

a#login-link, a#profile-link{
    display: none;
}

a#login-link.active,  a#profile-link.active{
    display: block;
}

/* search area */
.search-area {
    width: 100%;
    padding: 10px 0;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top: -5px; */
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    padding: 5px 10px;
    padding-left: 38px;
    min-height: 100%;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .54);
    font-size: 20px;
    font-weight: 300;
    /* center */
    display: block;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    color: #24292e;
}

input:focus {
    border-color: #62d2a2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(157, 243, 196, 0.6);
}

.search-area button {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 42px;
    background-image: linear-gradient(-180deg, #2188ff, #0076fd 90%);
    border: 1px solid transparent;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 6px;
}

.search-area button,
.search-area i {
    color: #fff
}

.search-area button:hover,
.search-area button:focus {
    background-image: linear-gradient(-180deg, #0076fd, #0066db 90%);
    background-color: #2188ff;
    border-color: #62d2a2;

}

/* display search result */
.results {
    min-height: fit-content;

    width: 270px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 10px 15px 3px rgba(0, 64, 128, .1);
    top: 52px;
    position: absolute;
    bottom: 0;
    display: none;
    flex-direction: column;
    background-color: #fff;

    transform-origin: top;
    animation: dropDown .1s linear;

    z-index: 500;
}

.results .result {
    margin-top: 5px;
    padding-right: 5px;
    border-radius: 4px;
    border: 2px solid transparent;
    user-select: none;
}

.results .result:hover {
    background-color: #e4f9f5;
}

.results .result:active {
    border-color: #95e1d3;
}

.results .result:focus {
    background-color: #e4f9f5;
}

.results.active {
    display: flex;
}

.search-overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;

}

#word-not-found{
    height: 50px;
    background-color: #c61951;
    width: 100%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;

    animation: expand .1s linear;
}
.word .sense{
    background-color: rgba(240, 240, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #f2f2f2;
}

.word .word-headword {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}
.word .sense-header{
    display: flex;
    align-items: center;
}
.word .sense_number {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #c61951;
    margin-right: 10px;
}

.word .sense-label{
    font-style: italic;
    font-size: 12px;
    margin-left: 10px;
}

.word .sense-meaning{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
.word .play-pro{
    display: inline-block;
    max-height: 24px;
    max-width: 24px;
    margin-left: 7px;
    margin-bottom: 5px;
}

.sense-examples{
    margin-left: 20px;
}

/*  */
section {
    width: 100%;
    display: flex;
}

/* trending words section */
section.top-container {
    height: 80vh;
    margin-bottom: 20px;
}

.top-container .word {
    margin-top: 40px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

section.hero {
    height: 80vh;
    width: 90%;
    /* background-image: url('../img/index-hero.jpg'); */
    background-image: url('https://source.unsplash.com/collection/325867/1600x900');
    background-position: center;
    background-repeat: no-repeat;
    margin: 5%;

    background-color: #24292e;
    opacity: .8;
    border-radius: 40px;

    padding: 20px;
    align-items: center;
    justify-content: center;
}

.quoate div {
    background-color: #000;
    opacity: .9;
    color: #fff;
    width: fit-content;
    border-radius: 5px;
}

.quoate .q-content {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    max-width: 500px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.quoate .q-author {
    padding: 5px;
    font-size: 20px;
    font-family: monospace;
}


/* posts section */
.posts2,
.posts-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.posts2>.posts2-item {
    height: 510px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin: 20px 0;
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.posts2 .p2-img-w {
    height: 280px;
}

.p2-img-w,
.p-img-w {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    overflow: hidden;
}

.no-img-bg {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #f2f2f2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #ffffff, #f2f2f2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.p2-img-w img,
.p-img-w img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* common posts */

.content {
    flex: 1 1 auto;

    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.brief .title {
    direction: rtl;
}

.content h3 {
    margin: 0;
    padding: 0;
}

h3 .title {
    padding: 5px 0;
    color: rgba(0, 0, 0, .84);
    font-size: 22px;
    letter-spacing: .1px;
    font-weight: 600;
}

.content .brief {
    font-size: 18px;
    margin-top: 7px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);
    word-spacing: -2px;

}

.content .footer {
    margin-top: 20px;
}

.footer .author {
    display: flex;
}

.content .footer .author-avatar {
    height: 50px;
    width: 50px;
}

.author-avatar img {
    border-radius: 50%;
    max-width: 100%;
    max-width: 100%;
}

.footer .post-meta {
    padding-left: 10px;
    color: #696867;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: default;
}

.content>a {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.content .brief {
    flex: 1 1 auto;
}

/* posts section */
.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.posts .post-item {
    width: 320px;
    height: 370px;
    margin: 30px 10px;

    display: flex;
    flex-direction: column;
}

.post-item .p-img-w {
    /* post image wrapper */
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .15);
    height: 170px;
}

/* footer */
footer {
    width: 100%;
    margin-top: 30px;
    height: 200px;
    background-color: rgba(0, 0, 0, .84);

    display: flex;
}

footer .column {
    flex-grow: 1;
}